<% if notice.present? %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block rounded shadow-xl shadow-purple-800/50" id="notice"><%= notice %></p>
<% end %>

<div class="bg-green-100 text-gray text-center py-20 rounded shadow-xl shadow-purple-800/50">
  <h1 class="text-5xl font-bold mb-4">
    Welcome to NNutrition
  </h1>
  <p class="text-xl mb-8">Your one-stop shop for all your e-commerce needs!</p>
  <%= link_to 'Shop Now', catalog_path, class: 'bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded' %>
</div>

<div class="bg-gray-200 py-20 my-10 rounded shadow-xl shadow-purple-800/50">
  <div class="container mx-auto px-6 text-center">
    <h2 class="text-4xl font-bold text-center text-gray-800 mb-8">Customer Testimonials</h2>
    <div class="flex flex-wrap mb-2">
      <div id="default-carousel" class="relative w-full bg-gray-200" data-carousel="slide">
        <div class="relative h-56 overflow-hidden rounded-lg md:h-66">
          <% @reviews.each_slice(3) do |reviews_batch| %>
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
              <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
                <% reviews_batch.each do |review| %>
                  <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white"><%= review.comment %></h5>
                    <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">- <%= review.user.email %></p>
                    <p class="mb-3 font-normal text-gray-500 dark:text-gray-400"><%= link_to 'Edit', edit_review_path(review), class: 'underline' if current_user == review.user %></p>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
          <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-black/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
            </svg>
            <span class="sr-only">Previous</span>
          </span>
        </button>
        <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
          <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-black/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
            <span class="sr-only">Next</span>
          </span>
        </button>
      </div>
    </div>
    <%= link_to 'Add comment', new_review_path, class: 'bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded' if user_signed_in? %>
  </div>
</div>


<div class="bg-green-100 text-gray my-10 text-center py-20 rounded shadow-xl shadow-purple-800/50">
  <h2 class="text-3xl font-bold mb-6">Stay Updated</h2>
  <p class="mb-8">Subscribe to our newsletter for the latest updates and offers.</p>
  <%= form_with url: subscribe_path, method: :post, local: true, class: 'flex justify-center' do %>
    <%= email_field_tag :email, nil, placeholder: 'Enter your email', class: 'p-2 rounded-l text-gray-800' %>
    <%= submit_tag 'Subscribe', class: 'bg-gray-700 hover:bg-gray-800 cursor-pointer text-white font-bold py-2 px-4 rounded-r' %>
  <% end %>
</div>
