<div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mb-2">
  <div class="px-5 pb-5">
    <div id="<%= dom_id category %>">
      <p class="my-5 text-center">
        <%= image_tag category.image, class: "w-auto h-64" %>
      </p>
      <p class="my-5">
        <strong class="block font-medium mb-1">Name:</strong>
        <%= category.name %>
      </p>

      <p class="my-5">
        <strong class="block font-medium mb-1">Description:</strong>
        <%= category.description %>
      </p>

      <% if action_name != "show" %>
        <%= link_to "Show this category", [:admin, category], class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
        <%= link_to "Edit this category", edit_admin_category_path(category), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
        <hr class="mt-6">
      <% end %>
    </div>
  </div>
</div>
