<!DOCTYPE html>
<html>
  <head>
    <title>NutritionApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <style>
      .center-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100vh;
      }
    </style>
  </head>

  <body class="bg-gradient-to-r from-orange-100 to-amber-100">
    <%= render 'layouts/application/header' %>
    <main class="container mx-auto mt-5 mb-3 px-5 flex text-center center-content">
      <%= yield %>
    </main>
  </body>
</html>
